body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}
.pull-right .dropdown-menu:after {
left: auto;
right: 13px;
}
.pull-right .dropdown-menu {
left: auto;
right: 0;
}